.login-options-button {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: $gray-color-2;
  &:hover{
    background-color: rgba($color:$gray-color-2, $alpha: 0.6);
    cursor: pointer;
  }

  &_icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

