.profile-wrapper-header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: $Dashboard-heder-height;
  align-items: center;
  width: 33rem;
  
  @include respond(tab-land) {
    width: 30rem;
  }
  @include respond(tab-port) {
    width: 28rem;
  }

  &_notif-icon {
    margin-right: 3rem;
    font-size: 4rem;
    color: $gray-color-4 ;
  }

  &_pic {
    border-radius: 50%;
    object-fit: cover;
    height: 5rem;
    width: 5rem;

  }
  
  &_name-email {
    width: 100%;
    margin-left:1.5rem;
    &-name {
      font-size: 1.4rem;
      color: $text-blue-color;
      font-weight: bold;
      text-align: left;
    }
    &-mail {
      text-align: left;
      font-size: 1.2rem;
      color: $gray-color-3;
    }
  }
  &_icon {
    position: absolute;
    right: 2.2rem;
    font-size: 1.8rem;
    color: $gray-color-3;
  }
}