.profile-wrapper-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;

  top: 14.2rem - $Dashboard-header-height;
  width: 100%;

  &_pic {
    border-radius: 50%;
    border: 2px solid $white-color-2;
    box-shadow: 1px 6px 24px 0 rgba(6, 0, 0, 0.278);
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin-bottom: 2rem;

  }
  
  &_name-email {
    text-align: center;
    text-justify: center;
    width: 100%;
    &-name {
      font-size: 1.4rem;
      color: $text-blue-color;
      font-weight: 500;

    }
    &-mail {
      font-size: 1.2rem;
      color: $gray-color-3;
    }
  }
}