.dashboard-header {
  background-color: $white-color;
  height: 7.9rem;
  padding: 1.7rem 0;
}
.page-containter {
  width: 100vw;
  height: calc(100vh - 7.9rem) ;
  box-shadow: 1px 6px 24px 0 rgba(0, 1, 255, 0.08);
}
.dashboard-navigation {
  vertical-align:top;
  background-color: $white-color;
  display: inline-block;
  width: 26.8rem;
  height: 100%;
  box-shadow: 1px 6px 24px 0 rgba(0, 1, 255, 0.08);
}
.dashboard-sec {
  box-shadow: 1px 6px 24px 0 rgba(0, 1, 255, 0.08);
  vertical-align:top;
  display: inline-block;
  background-color: $white-color;
  width: calc(100% - 26.8rem);
  height: 100%;
}