.dashboard-header {
  background-color: $white-color;
  height: 7.9rem;
  padding: 1.7rem 0;
  box-shadow: 1px 6px 24px 0 rgba(0, 1, 255, 0.08);

}
.page-containter {
  width: 100vw;
  height: calc(100vh - 7.9rem) ;
}
.dashboard-navigation {
  position: relative;
  background-color: $white-color;
  // background-color: $red-light-color;
  display: inline-block;
  width: 26.8rem;
  height: 100%;
  box-shadow: 1px 6px 24px 0 rgba(0, 1, 255, 0.08);

  &_last-item{
    display: flex;
    background-color: $white-color;
    align-items: center;
    text-decoration: none;
    line-height: 5rem;
    color: $gray-color-4;
    font-size: 1.6rem;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &_icon {
    margin-right: 1rem;
  }

}
.dashboard-sec {
  display: inline;
  background-color: royalblue;
  width: calc(100% - 26.8rem);
  height: 100%;
}