label ,a, p {
  font-size: 1.3rem;
}

.login-page-sectioin {
  background-image: linear-gradient(270deg,
                    rgba($red-dark-color, 1) ,
                    rgba($red-light-color, 1));
  height: 100vh;
  position: relative;
}

.login-contatiner{
  background-color: $white-color;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 90%;
  width: 70%;
  overflow: hidden;
  border-radius: 1rem;
}

.login-form-backgorund {
  display:inline-block;
  height: 100%;
  width: 50%;
  background-image: url('./../../assets/iStock-641755408@3x-edited.jpg');
  background-size: cover;
  vertical-align:top;
}

.login-form {
  color: $text-blue-color;
  display:inline-block;
  width: 50%;
  padding: 0 5rem;
  text-align: center;
  overflow: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  

  &_logo-container {
    margin-top: 4rem;
    margin-bottom: 2rem;

    .logo-container_image {
      vertical-align: middle;
      display: inline-block;
      height: 3.5rem;
    }
    
    .logo-container_name {
      vertical-align: middle;
      margin-left: 0.5rem;
      display: inline-block;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
  
  &_welcome-text {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 10vh;
    white-space: nowrap;
  }
  
  &_inputs{
    padding: 4rem;
    
    .inputs-email{
      
      margin-bottom: 1.2rem;
      
      &_label {
        white-space: nowrap;
        display: block;
        margin-bottom: .75rem;
        width: 100%;
        text-align: left;
      }
      &_input {
        padding: 1rem;
        width: 100%;
        height: 4rem;
        border-radius: 4px;
        border: solid 1px $red-light-color;
        background-color: $white-color;
        &:focus {
          outline: none;
        }
        
      }
    }
    
    .inputs-password{
      &_label{
        white-space: nowrap;
        margin-top: 3rem;
        text-align: left;
        margin-bottom: .75rem;
        display: block;
        width: 100%;

      }
      &_input{
        padding: 1rem;
        width: 100%;
        height: 4rem;
        border-radius: 4px;
        border: solid 1px $red-light-color;
        background-color: $white-color;
        &:focus {
          outline: none;
        }
      }
    }

    .inputs-checkbox {
      white-space: nowrap;
      text-align: left;
      margin-top: 1rem;
      height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &_input{
        height: 2rem;
        margin-right: 5px;
        vertical-align: middle;
      }
      &_label {
        vertical-align: top;
        line-height: 2rem;
    
        &:hover{
          cursor: pointer;
        }
      }
      
      &_forget-pass-txt {
        color: $text-blue-color;
        text-decoration: none;
        line-height: 2rem;
        float: right;

      }
    }
    .inputs-button {
      outline: none;
      font-size: 1.2rem;
      margin-top: 5rem;
      background-image: linear-gradient(259deg,
                        rgba($red-dark-color, 1) ,
                        rgba($red-light-color, 1));
      width: 100%;
      color: $white-color;
      height: 5rem;
      border-radius: 1rem;
      border: solid 1px $white-color;

      &:hover{
        background-image: linear-gradient(259deg, 
                          rgba($red-dark-color,.9), 
                          rgba($red-light-color, .9));
        cursor: pointer;
      }
    }
    .login-options-seprator {
      margin: 5rem 0 ;
      color: $gray-color-1;
      display: flex;
      align-content: center;
      align-items: center;

      &_line {
        display: inline-block;
        width: 33%;
        background-color: $gray-color-1;
        height:1px;
        border-width: 0;
        
      }
      &_text {
        width: 33%;
        display: inline-block;
      }
    }
 
    .login-options-wrapper {
      display: flex;
      margin-bottom: 5rem;
      justify-content: space-between;
      align-items: center;
    }
    .dont-have-account-wrapper {
      margin-top: 2rem;
      display: flex;
      align-content: center;
      justify-content: center;
      
      &_txt{
        color: $gray-color-1;
      }
      &_link {
        margin-left: 3px;
        text-decoration: none;
        color: $red-dark-color;
        
      }
    }
  }
}

