// COLORS
$red-dark-color: #c82127;
$red-light-color: #ff656b;
$white-color:#ffffff;
$white-color-1: #f5f7fd;
$text-blue-color: #232754;
$gray-color-1:#d5d6e5;
$gray-color-2:#f1f0f6;
$gray-color-3:#a29eb4;
$gray-color-4:#7c7fa3;



// SIZEs:
$Dashboard-heder-height: 7.9rem;
